<div class="animated fadeIn">
   <div class="row">
       <div class = "col-lg-7">
           <div class="card">
               <div class="card-header">
                   <i class="fa fa-align-justify"></i> Table
               </div>
           </div>
       </div>
   </div>
</div>
