<div class="animated fadeIn">
   <div class="row">
        <div class = "col-md-6">
            <form action="" method="post" class="form-horizontal" [formGroup]="form" (ngSubmit)="createAuction()" >
               <div class="card">
                   <div class="card-header">
                       <strong>Создание нового аукциона</strong>
                   </div>
                   <div class="card-block">
                           <div class="form-group col-sm-12">
                               <label for="place_city">Населенный пункт</label>
                               <input type="text" class="form-control" id="place_city" placeholder="Введите название населенного пункта"
                                      [(ngModel)]="locality" formControlName="locality">
                               <div *ngIf="!form.controls.locality.valid" class="text-danger">
                                   <small>Поле не может быть пустым</small>
                               </div>

                           </div>
                           <div class="form-group col-sm-12">
                               <label for="place_district">Район</label>
                               <input type="text" class="form-control" id="place_district" placeholder="Введите название района" [(ngModel)]="district" formControlName="district">
                               <div *ngIf="!form.controls.district.valid" class="text-danger">
                                   <small>Поле не может быть пустым</small>
                               </div>
                           </div>
                           <div class="form-group col-sm-12">
                               <label for="select_time">Срок размещения (дни)</label>
                               <div>
                                   <select id="select_time" name="select_time" class="form-control" size="1" [(ngModel)]="days" formControlName="days">
                                       <option></option>
                                       <option value="1">10</option>
                                       <option value="2">20</option>
                                       <option value="3">30</option>
                                   </select>
                               </div>
                               <div *ngIf="!form.controls.days.valid" class="text-danger">
                                   <small>Поле не может быть пустым</small>
                               </div>
                           </div>
                           <div class="form-group col-sm-12">
                               <label for="max_price">Бюджет</label>
                               <div class="row">
                                   <input type="text" [textMask]="{mask: priceMask}" class="form-control col-sm-4 mx-1" id="max_price"
                                          placeholder="Введите сумму" [(ngModel)]="budget" formControlName="budget" style="text-align: right;">
                                   <label class="col-sm-0">рублей</label>
                               </div>
                               <div *ngIf="!form.controls.budget.valid" class="text-danger">
                                   <small>Поле не может быть пустым</small>
                               </div>
                           </div>
                           <div class="form-group  col-sm-12">
                               <label class="form-control-label" for="size">Размер</label>
                               <div>
                                   <select id="size" name="size" class="form-control" size="1" [(ngModel)]="size" formControlName="size">
                                       <option value="1">2X3</option>
                                       <option value="2">2x4</option>
                                       <option value="3">4x5</option>
                                   </select>
                               </div>
                           </div>
                           <div class="form-group col-sm-12">
                               <label class="form-control-label" for="light">Подсветка</label>
                               <div>
                                   <select id="light" name="light" class="form-control" size="1" [(ngModel)]="light" formControlName="light">
                                       <option value="true">Да</option>
                                       <option value="false">Нет</option>
                                       <option value="null">Не важно</option>
                                   </select>
                               </div>
                               <div *ngIf="!form.controls.light.valid" class="text-danger">
                                   <small>Поле не может быть пустым</small>
                               </div>
                           </div>
                   </div>
                   <div class="card-footer">
                       <button type="submit" class="btn btn-primary" [disabled]="isValid()"><i class="fa fa-dot-circle-o"></i> Подтвердить</button>
                       <button type="reset" class="btn btn-danger" [disabled]="isValid()"><i class="fa fa-ban"></i> Сброс</button>
                   </div>
               </div>
            </form>

       </div>
       <div class = "col-md-6" [hidden]="hideInfo">
           <div class="card">
               <div class="card-header">
                   <strong>Информация</strong>
               </div>
               <div class="card-block">
                   <div class="col-sm-12">
                        <label class="form-control-label">Аукцион зарегистрирован под номером: {{ id }}</label>
                   </div>
                   <input type="button" class="btn btn-success btn-lg btn-block" value="Перейти к торгам" (click)="auctionListRedirect()"/>
                   <button type="button" class="btn btn-danger btn-lg btn-block">Платные услуги</button>
               </div>
           </div>
       </div>
   </div>
</div>
