<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
        <li class="nav-item px-1">
            <a *ngIf="username==null" class="nav-link" routerLinkActive="active" [routerLink]="['/pages/login']">Вход</a>
            <a *ngIf="username!=null" class="nav-link"  routerLinkActive="active"  [routerLink]="['/main']" (click)="logout()">Выход</a>
        </li>
        <li class="nav-item px-1">
            <a *ngIf="username==null" class="nav-link" routerLinkActive="active" [routerLink]="['/pages/register']">Регистрация</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item px-1">
            <a *ngIf="username!=null" class="nav-link">Привет, {{username}}</a>
        </li>
    </ul>
</header>
<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/main']"><i class="icon-home"></i> Главная страница</a>
                </li>
                <li *ngIf="username!=null" class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/stat']"><i class="icon-chart"></i> Статистика</a>
                </li>
                <li *ngIf="username!=null" class="nav-item nav-dropdown" routerLinkActive="open">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-share"></i> Торговая площадка</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/auction']" [hidden]="userUtils.userRole=='CONTRACTOR'"><i class="icon-chart"></i> Создать аукцион</a>
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/auction/list']"><i class="icon-list"></i> Список торгов</a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="username!=null" class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/account']"><i class="fa fa-rouble"></i> Лицевой счет</a>
                </li>
            </ul>
        </nav>
    </div>


    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="https://genesisui.com">Leaf</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="https://genesisui.com">GenesisUI</a>
    </span>
</footer>