<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-7">
			<div class="card">
				<div class="card-header"><strong>Состояние лицевого счета</strong></div>
				<div class="card-block">
					<div class="form-group col-sm-12">
						<label>Баланс:</label>
					</div>
					<div class="form-group col-sm-12">
						<label>Количество транзакий за последний месяц:</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="card">
				<div class="card-header"><strong>Пополнить</strong></div>
				<div class="card-block"></div>
			</div>
		</div>
	</div>
</div>