<button type="button" class="btn btn-secondary" data-toggle="modal" (click)="largeModal.show()" [disabled]="rateButtonDisable" [hidden]="userUtils.userRole!='CONTRACTOR'">
	Сделать ставку
</button>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<form tender="" method="post" class="form-horizontal" [formGroup]="form" (ngSubmit)="createTender()">
				<div class="modal-header">
					<h4 class="modal-title">Сделать ставку</h4>
					<button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card-block">
						<div class="form-group col-sm-12">
							<label for="place">Местоположение</label>
							<input type="text" class="form-control" id="place"
								   placeholder="Введите адрес или местоположение рекламного щита"  [(ngModel)]="place" formControlName="place">
							<div *ngIf="!form.controls.place.valid" class="text-danger">
								Поле не может быть пустым
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label for="price">Цена</label>
							<input type="text" [textMask]="{mask: priceMask}" class="form-control" id="price" placeholder="Введите вашу цену"
								   [(ngModel)]="price" formControlName="price" style="text-align: right;">
							<div *ngIf="!form.controls.price.valid" class="text-danger">
								Поле не может быть пустым
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Закрыть</button>
					<button type="submit" class="btn btn-primary" [disabled]="isValid()" (click)="largeModal.hide()">Сохранить</button>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->