<div>
	<div>
		<tabset>
			<tab heading="Поиск">
				<div class="row">
					<div class="col-md-12">
						<form action="" method="post" class="form-horizontal" [formGroup]="form" (ngSubmit)="filter()">
							<tabset>
								<tab heading="Стандартный поиск">
									<div class="row">
										<div class="col-sm-12">
											<input type="text" class="form-control" placeholder="Поиск" id="input" [(ngModel)]="input" formControlName="input">
										</div>
									</div>
								</tab>
								<tab heading="Расширенный поиск">
									<div class="form-group row">
										<div class="col-sm-2">
											<div class="offset-sm-1">
												<label class="form-control-label">Номер лота:</label>
											</div>
											<div class="offset-sm-1">
												<input type="text" class="form-control" id="id" [(ngModel)]="id" formControlName="id">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="form-control-label">Населенный пункт:</label>
											<input type="text" class="form-control" id="locality" [(ngModel)]="locality" formControlName="locality">
										</div>
										<div class="col-sm-3">
											<label class="form-control-label">Район:</label>
											<input type="text" class="form-control" id="district" [(ngModel)]="district" formControlName="district">
										</div>
									</div>
								</tab>
								<div class="card-footer">
									<button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i>
										Применить
									</button>
								</div>
							</tabset>
						</form>
					</div>
				</div>
				<div class="card"></div>
				<div class="form-group row">
					<div class="col-md-8" [hidden]="hideAuctionList">
						<div class="card">
							<div class="card-header">
								<strong> Список лотов</strong>
							</div>
							<div class="card-block">
								<table class="table table-bordered table-striped table-condensed">
									<thead class="mx-0">
									<tr class="row mx-0">
										<th class="col-sm-1 text-center">Лот</th>
										<th class="col-sm-3 text-center">Город</th>
										<th class="col-sm-3 text-center">Район</th>
										<th class="col-sm-3 text-center">Дата начала</th>
										<th class="col-sm-2 text-center">Статус</th>
									</tr>
									</thead>
									<tbody class="mx-0">
									<tr *ngFor="let auction of auctionList | paginate: { id : 'auctionPaginationId', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalCount }; let i = index" (click)="setClickedRow(i)"
										style="cursor: pointer;" [class.active]="i == selectedRow" class="row mx-0">
										<td class="col-sm-1 text-center">{{auction.id}}</td>
										<td class="col-sm-3 text-center">{{auction.locality}}</td>
										<td class="col-sm-3 text-center">{{auction.district}}</td>
										<td class="col-sm-3 text-center">{{auction.createdTime | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
										<td class="col-sm-2 text-center">
											<span class="badge badge-success">Активен</span>
										</td>
									</tr>
									</tbody>
								</table>
								<div class="text-center">
									<pagination-controls id="auctionPaginationId"
														 (pageChange)="currentPage = eventClick($event)"
														 maxSize="5"
														 directionLinks="true"
														 previousLabel="Пред."
														 nextLabel="След.">
									</pagination-controls>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4" [hidden]="hideAuctionInfo">
						<div class="card">
							<div class="card-header">
								<strong> Последние ставки</strong>
							</div>
							<div class="card-block">
								<input type="button" class="btn btn-success btn-lg btn-block" value="Подробнее" [hidden]="true" (click)="activateInfo()"/>
								<div *ngIf="!hasTender"><label class="form-control-label">Ставок нет</label></div>
								<table class="table table-bordered table-striped table-condensed" *ngIf="hasTender">
									<thead>
									<tr>
										<th class="text-center">Дата</th>
										<th class="text-center">Ставка (руб.)</th>
									</tr>
									</thead>
									<tbody>
									<tr *ngFor="let tender of tenderList; let i = index">
										<td *ngIf="i<3" class="text-center">{{tender.createdTime | date: 'dd.MM.yyyy HH:mm'}}</td>
										<td *ngIf="i<3" class="text-right">{{tender.price | number | numberFormatter}}</td>
									</tr>
									</tbody>
								</table>
								<router-outlet>
									<app-rate [tenderList]="tenderList" [auctionId]="auction.id" (update)="onUpdate($event)"></app-rate>
								</router-outlet>
							</div>
						</div>
					</div>
				</div>
			</tab>
			<tab heading="Подробнее" [active]="activeTab == 2" (deselect)="activeTab = 1" [disabled]="selectedRow == -1" >
				<router-outlet>
					<div>
						<auction-info [auction]="auction" [tenderList]="tenderList"></auction-info>
					</div>
				</router-outlet>
			</tab>
		</tabset>
	</div>

</div>


