<div>
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<strong>Информация о лоте</strong>
				</div>
				<div class="card-block">
					<div class="row">
						<div class="col-sm-3">
							<label class="form-control-label">Населенный пункт:</label>
						</div>
						<div class="col-sm-3">{{auction.locality}}</div>
						<div class="col-sm-3 offset-sm-1">
							<label class="form-control-label">Район:</label>
						</div>
						<div class="col-sm-1">{{auction.district}}</div>
					</div>
					<div class="row"><p></p></div>
					<div class="row">
						<div class="col-sm-3">
							<label class="form-control-label">Максимальны бюджет:</label>
						</div>
						<div class="col-sm-3">{{auction.budget | number | numberFormatter}} рублей</div>
						<div class="col-sm-3 offset-sm-1">
							<label class="form-control-label">Размер:</label>
						</div>
						<div class="col-sm-1">{{auction.size}}</div>
					</div>
					<div class="row"><p></p></div>
					<div class="row">
						<div class="col-sm-3">
							<label class="form-control-label">Дата создания:</label>
						</div>
						<div class="col-sm-3">{{auction.createdTime | date: 'dd.MM.yyyy HH:mm'}}</div>
						<div class="col-sm-3 offset-sm-1">
							<label class="form-control-label">Подсветка:</label>
						</div>
						<div class="col-sm-2">{{auction.light | booleanToWord}}</div>
					</div>
				</div>
				<div class="card-footer">
					<button type="submit" class="btn btn-primary"><i class="fa fa-dot-circle-o"></i>
						Редактировать
					</button>
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<strong>Информация об организаторе торгов</strong>
				</div>
				<div class="card-block">
				</div>
			</div>
			<div class="card">
				<div class="card-header">
					<strong>Информация о ставках</strong>
				</div>
				<div class="card-block">
					<div *ngIf="hasTender">
						<table class="table table-bordered table-striped table-condensed">
							<thead class="mx-0">
							<tr class="row mx-0">
								<th class="col-sm-3 text-center">Агентство</th>
								<th class="col-sm-2 text-center">Цена</th>
								<th class="col-sm-3 text-center">Местоположение</th>
								<th class="col-sm-2 text-center">Дата</th>
								<th class="col-sm-2 text-center">Снимок</th>
							</tr>
							</thead>
							<tbody class="mx-0">
								<tr *ngFor="let tender of tenderBatchList | paginate: { id: 'tenderPaginationId', itemsPerPage: tenderPageSize, currentPage: tenderCurrentPage, totalItems: tenderTotalCount }; let i = index" class="row mx-0">
									<td class="col-sm-3 text-center">
										<div *ngIf="tender.user">{{tender.user.name}}</div>
									</td>
									<td class="col-sm-2 text-center">{{tender.price}}</td>
									<td class="col-sm-3 text-center">{{tender.place}}</td>
									<td class="col-sm-2 text-center">{{tender.createdTime | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
									<td class="col-sm-2 text-center">-</td>
								</tr>
							</tbody>
						</table>
						<div class="text-center">
							<pagination-controls id="tenderPaginationId"
												 (pageChange)="tenderCurrentPage = tenderEventClick($event)"
												 maxSize="5"
												 directionLinks="true"
												 previousLabel="Пред."
												 nextLabel="След.">
							</pagination-controls>
						</div>
					</div>
					<div *ngIf="!hasTender"><div class="col-sm-2">Ставок нет</div></div>
				</div>
				<div class="card-footer">
					<app-rate class="normal-style" [tenderList]="tenderList" [auctionId]="auction.id"></app-rate>
				</div>
			</div>
		</div>
	</div>
</div>