<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-block">
                            <form #f="ngForm" novalidate (ngSubmit)="login(f.value, f.valid)">
                                <h1>Авторизация</h1>
                                <p class="text-muted">Вход в ваш аккунт</p>
                                <div class="input-group mb-1">
                                    <span class="input-group-addon"><i class="icon-user"></i>
                                    </span>
                                    <input type="text" class="form-control" name="username" [ngModel]="signIn.username"
                                           required minlength="2" #username="ngModel" placeholder="Пользователь">
                                </div>
                                <div class="input-group mb-2">
                                    <span class="input-group-addon"><i class="icon-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" name="password" required
                                           [ngModel]="signIn.password" #password="ngModel" placeholder="Пароль">
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-primary px-2">Вход</button>
                                    </div>
                                    <div class="col-xs-6 text-xs-right">
                                        <button type="button" class="btn btn-link px-0">Забыли пароль?</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
                        <div class="card-block text-xs-center">
                            <div>
                                <h2>Вход</h2>
                                <p>Если вы у нас в первый раз, пожлуйста, пройдите процедуру регистрации</p>
                                <button type="button" class="btn btn-primary active mt-1" [routerLink]="['/pages/register']">Регистрация сейчас!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
