<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mx-2">
                    <div class="card-block p-2">
                        <form #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
                            <h1>Регистрация</h1>
                            <p class="text-muted">Создание вашего аккаунта</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" class="form-control" name="username" [ngModel]="signUp.username"
									   required minlength="2" #username="ngModel" placeholder="Логин пользователя">
                            </div>
							<div class="mb-1">
								<small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
									Пользователь должен состоять минимум из 2-х символов
								</small>
							</div>
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input type="text" class="form-control" name="email" [ngModel]="signUp.email" required
									   #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
									   placeholder="Email адрес">
                            </div>
							<div class="mb-1">
								<small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
									Email не валиден
								</small>
							</div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-people"></i>
                                </span>
                                <input type="text" class="form-control" name="name" [ngModel]="signUp.name"
									   required minlength="5" #name="ngModel" placeholder="Название компании">
                            </div>
							<div class="mb-1">
								<small [hidden]="name.valid || (name.pristine && !f.submitted)" class="text-danger">
									Компания должна состоять минимум из 5-ти символов
								</small>
							</div>
                            <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-anchor"></i>
                                </span>
                                <select id="role" name="role" class="form-control" [ngModel]="signUp.role"
										required #role="ngModel">
                                    <option value="CUSTOMER">Заказчик</option>
                                    <option value="CONTRACTOR">Исполнитель</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" name="password" required [ngModel]="signUp.password"
									   validateEqual="confirmPassword" reverse="true" #password="ngModel" placeholder="Пароль">
                            </div>
							<div class="mb-1">
								<small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
									Требуется ввод пароля
								</small>
							</div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" name="confirmPassword" [ngModel]="signUp.confirmPassword"
									   required validateEqual="password" reverse="false" #confirmPassword="ngModel" placeholder="Повторите пароль">
                            </div>
							<div class="mb-2">
								<small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
									Пароль не совпадает
								</small>
							</div>
                            <button type="submit" class="btn btn-block btn-success" >Создать аккаунт</button>
                        </form>
						<div class="input-group mb-2">
							<div [hidden]="!isError" class="text-danger">{{errorText}}</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
